.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 24px;
    font-weight: bold;
}
